{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block body %}
		
			<div class="col-sm-12">		
				
				<div class="row justify-content-center" id="expenceContainer">
						<div class="col-sm-6 mt-2">
							<div class="row">
								<form method="post" action="/Expenses/add" class="input-group col-sm-12">
								<div class="col-sm-12 mb-2 text-center">
									<h4>Dodawanie nowego wydatku</h4>
								</div>
							
								<div class="col-sm-12 mb-2">
									<p>Kwota wydatku: </p>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Podaj kwotę wydatku" name="expenceAmount" value="{{ data.expenceAmount }}">
										<div class="input-group-append">
											<span class="input-group-text"> PLN </span>
										</div>
									</div>
								</div>
								<div class="col-sm-12 mb-2">
									<div class="form-group">
										<p>Data wydatku:</p>
										<input type="date" class="form-control" name="dateExpence" value="{{ data.dateExpence }}">
									</div>
								</div>
								<div class="col-sm-12 mb-2 border border-success">
									<div id="expencePaymentWay" class="form-group">
										<p>Sposób płatności:</p>
										{% for payment in expense_payment_ways %}
											<div class="custom-control custom-radio light-input-bg">
												<input type="radio" class="custom-control-input" id="{{ payment.name }}" value="{{ payment.id }}" name="payment">
												<label class="custom-control-label" for="{{ payment.name }}">{{ payment.name }}</label>
											</div>
										{% endfor %}
									</div>
								</div>
								<div class="col-sm-12 mb-2 py-2 border border-success">
									<div id="expenseCategory" class="form-group">
										<p>Kategoria wydatku:</p>
										{% for cathegory in expense_cathegories %}
											<div class="custom-control custom-radio light-input-bg">
												<input type="radio" class="custom-control-input" id="{{ cathegory.name }}" value="{{ cathegory.id }}" name="expenceCat">
												<label class="custom-control-label" for="{{ cathegory.name }}">{{ cathegory.name }}</label>
											</div>
										{% endfor %}
									</div>
								</div>
								<div class="col-sm-12 mb-2">
									<div class="form-group">
										<p>Komentarz(opcjonalnie):</p>
										<textarea class="form-control" placeholder="" name="commentExpence"> {{ data.commentExpence }}</textarea>
									</div>
								</div>
							
								<div class="col-sm-12 mb-2">
									<button type="submit" class="btn btn-success btn-block" id="addExpenceButton"><span class="fa fa-save"></span> Dodaj nowy wydatek</button>
								</div>
								</form>
							</div>
						</div>
				</div>			
			</div>

{% endblock %}