{% extends "base.html" %}

{% block title %}Expenses{% endblock %}
{% block footer %}
	<script src="/js/limit_expense.js"></script>
{% endblock %}
{% block body %}
		
			<div class="col-sm-12">		
				
				<div class="row justify-content-center" id="expenceContainer">
						<div class="col-sm-6 mt-2">
							<div class="row">
								
								<div class="col-sm-12 mb-2 text-center">
									<h4>Dodawanie nowego wydatku</h4>
								</div>
							
								<div class="col-sm-12 mb-2">
									<p>Kwota wydatku: </p>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Podaj kwotę wydatku" id="amount" name="expenceAmount" value="{{ data.expenceAmount }}">
										<div class="input-group-append">
											<span class="input-group-text"> PLN </span>
										</div>
									</div>
								</div>
								<div class="col-sm-12 mb-2">
									<div class="form-group">
										<p>Data wydatku:</p>
										<input type="date" class="form-control" name="dateExpence" id="expenseDate" value="{{ data.dateExpence }}">
									</div>
								</div>
								<div class="col-sm-12 mb-2 border border-success">
									<div id="expencePaymentWay" class="form-group">
										<p>Sposób płatności:</p>
										{% for payment in expense_payment_ways %}
											<div class="custom-control custom-radio light-input-bg">
												<input type="radio" class="custom-control-input" id="{{ payment.name }}" value="{{ payment.id }}" name="payment">
												<label class="custom-control-label" for="{{ payment.name }}">{{ payment.name }}</label>
											</div>
										{% endfor %}
									</div>
								</div>
								<div class="col-sm-12 mb-2 py-2 border border-success">
									<div id="expenseCategory" class="form-group">
										<p>Kategoria wydatku:</p>
										{% for cathegory in expense_cathegories %}
											<div class="custom-control custom-radio light-input-bg">
												<input type="radio" class="custom-control-input" id="{{ cathegory.name }}" value="{{ cathegory.id }}" name="expenceCat">
												<label class="custom-control-label" for="{{ cathegory.name }}">{{ cathegory.name }}</label>
											</div>
										{% endfor %}
									</div>
								</div>
								<div class="col-sm-12 mb-2">
									<div class="form-group">
										<p>Komentarz(opcjonalnie):</p>
										<textarea class="form-control" placeholder="" id="commentExpense" name="commentExpence"> {{ data.commentExpence }}</textarea>
									</div>
								</div>
								<div class="modal fade" id="confirm_modal_over_limit" tabindex="-1" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content row align-items-center">
												<div class="modal-header col-sm-12">
													<h5 class="modal-title">Czy na pewno chcesz przekroczyć limit na kategorię?</h5><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
												</div>
												<div id="delete_limit_message" class="align-self-center col-sm-12 my-2">
												</div>
												<div class="modal-footer col-sm-12">
													<button type="button" class="btn btn-success w-100" id="addExpenseOffLimitButton">Dodaj wydatek ponad limit</button>
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
												</div>
											</div>
										</div>
									</div>
								<div class="col-sm-12 mb-2 align-items-center" id="expenseMessageDiv"></div>
								<div class="col-sm-12 mb-2">
									<button type="button" class="btn btn-success btn-block" id="addExpenceButton"><span class="fa fa-save"></span> Dodaj nowy wydatek</button>
								</div>								
								
							</div>
							
						</div>
				</div>			
			</div>

{% endblock %}